Port 4242
PermitRootLogin prohibit-password
PubkeyAuthentication yes
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM no

Ciphers aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512,hmac-sha2-256

MaxAuthTries 3
LoginGraceTime 20

X11Forwarding no
PermitEmptyPasswords no
PermitUserEnvironment no